<a href="https://colab.research.google.com/github/mahshid-khojandi/python-tuple/blob/main/python_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using a pair of parentheses to denote the empty tuple: ()

Tuples are immutable sequences

Using a trailing comma for a singleton tuple: a, or (a,)

In [1]:
colors = ('red', 'blue', 1 , 45)
print (type(colors))

<class 'tuple'>

In [3]:
colors = ('red', 'blue', 1 , 45)
print (colors[1])
print (colors[1:3])

blue
('blue', 1)

In [8]:
colors = ('red', 'blue', 'black', 'green')
(zero, one, two, three) = colors
print(zero)
print(one)

red
blue